[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pyqt5" = "*"
sqlalchemy = "*"
yacmt = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"

[dev-packages]
"flake8" = "*"
pydoc-utils = "*"
pudb = "*"

[requires]
python_version = "3.6"
